using [ 
	Core
	Core.Config 
	Core.Clr 
	Core.Install
	Languages.CSharp
	Tools.PkgConfig 
]

# Dll dependencies

Mono.GetOptions.dll = CSharpSystemDllCheck []
Mono.Posix.dll = CSharpSystemDllCheck []
System.Xml.dll = CSharpSystemDllCheck []

# Define our gac installer: use our "compat name" as package name,
# which looks something like "mbuild-1.0"
# defaults to rootdir /config/install/libdir and 
# program /config/clr/gacutil

gac_installer = MakeGacutilInstaller [ /config/env/compat_name ]

good_example = ConfigBool[true] with [
	prompt = "This is an example configuration option. Ok?"
]

# Document installing: {prefix}/share/doc/{compat-name}

docdir = JoinPath [ 
	/config/install/prefix_dir 
	[ "share", "doc", /config/env/compat_name ]
]

doc_installer = MakeCopyInstaller [ docdir ]

# Exe installing: {libdir}/{compat-name}
# (The default exe installer puts them in {bindir}, which
# we don't want -- wrappers go there.

exe_installer = Clone [ /config/lang/csharp/dll_installer ]

# Our compiler options

gac_csc_options = CSharpOptions [
	/mbuild.snk
]

# no prompt! Bad programmer!
#bad_example = ConfigBool[false]

#test_pkgconfig = PkgConfig["gtk+-2.0"]

# would use with [ default = false ], but
# this breaks when we make dist
# nopkg = PkgConfig["donthavethis"]
