/*

This Style Sheet was created by Jonathan Duncan for Novell, Inc.
This file is for IE specific hacks.
Author address: jduncan@novell.com
Created: 01-Jul-2004
Modified-by: Jonathan Duncan
Modified: 02-Jul-2004

*/



/*************/
/* Elements */
/*************/



/*************/
/* Classes */
/*************/



/*************/
/* Divisions */
/*************/
#pageHeader {
*	margin-bottom: -4px;  /* IE/Win */
}
#bodyContentTier2 ol li {
*	margin: 0px 0px 0px 40px;  /* IE/Win */
}
#rightNavTop {
*	line-height: 1px;  /* IE/Win */
}