/*

This Style Sheet was created by Jonathan Duncan for Novell, Inc.
Author address: jduncan@novell.com
Created: 14-Apr-2004
Modified-by: Jonathan Duncan
Modified: 14-Apr-2004

*/



/*************/
/* Elements */
/*************/
body {
	background: #9ebfe0;
}



/*************/
/* Divisions */
/*************/
#pageHeader {
	background: transparent url(/img/mono_headspace_b.gif) top left repeat-x;
}


#leftNavTop {
	background-color: #5787b8;
}
#searchBoxTop {
	background-color: #5787b8;
}
ul#menu li a:hover {
	color: #9ebfe0;
}

#bodyContent h1 {
	color: #5787b8;
}
#bodyContent a:hover {
	color: #5787b8;
}
#bodyContentTier2 h1 {
	color: #5787b8;
}
#bodyContentTier2 a:hover {
	color: #5787b8;
}

#rightNavBlue a {
	text-decoration: underline;
}
#rightNavBlue a:hover {
	color: #9ebfe0;
	text-decoration: underline;
}

#footer {
	color: #5787b8;
}
