/*

This Style Sheet was created by Jonathan Duncan for Novell, Inc.
Author address: jduncan@novell.com
Created: 14-Apr-2004
Modified-by: Jonathan Duncan
Modified: 14-Apr-2004

*/



/*************/
/* Elements */
/*************/
body {
	background: #c0dda2;
}



/*************/
/* Divisions */
/*************/
#pageHeader {
	background: transparent url(/img/mono_headspace_g.gif) top left repeat-x;
}


#leftNavTop {
	background-color: #6da336;
}
#searchBoxTop {
	background-color: #6da336;
}
ul#menu li a:hover {
	color: #c0dda2;
}

#bodyContent h1 {
	color: #6da336;
}
#bodyContent a:hover {
	color: #6da336;
}
#bodyContentTier2 h1 {
	color: #6da336;
}
#bodyContentTier2 a:hover {
	color: #6da336;
}

#rightNavGreen a {
	text-decoration: underline;
}
#rightNavGreen a:hover {
	color: #c0dda2;
	text-decoration: underline;
}

#footer {
	color: #639a2a;
}
