/*

This Style Sheet was created by Jonathan Duncan for Novell, Inc.
Author address: jduncan@novell.com
Created: 14-Apr-2004
Modified-by: Jonathan Duncan
Modified: 07-Jul-2004

*/



/*************/
/* Elements */
/*************/
body {
	color: #333333;
	margin: 0px;
	font-size: 1em;
	padding: 0px;
/*	text-align:center; */
}
acronym {
	font-style: italic;
	cursor: help;
	font-weight: normal;
}



/*************/
/* Classes */
/*************/

/* None Currently, all are within the Divisions */
.clear {
	clear: both;
}
.shell {
	font:  1.0em verdana,arial,sans-serif;
}

/*************/
/* Divisions */
/*************/
#thePage {
/*	padding: 0px; */
	margin: 0px;
/*	margin:auto; */
	margin-right: 20px;
	margin-left: 20px;
/*	width: 770px; */
	width: auto;
}

#pageHeader {
	text-align: left;
/*	margin-right: 100%; */
	height: 77px;
	width: 770px; /* Keeps the header graphics from wrapping if window is too small.  jduncan */
}

#headBodySpacer {
	background: #ffffff;
	height: 10px;
	overflow:hidden;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

#pageBody {
/*	background:#ffffff url(/img/col-lines-bg.gif) top left repeat-y; */
	background-color: #ffffff;
/*	margin:auto; */
/*	margin-right: 60px;
	margin-left: 20px; */
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}
#pageBodyTier2 {
/*	background: #ffffff url(/img/col-lines-bg_Tier2.gif) top left repeat-y; */
	background-color: #ffffff;
/*	margin:auto; */
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}
#leftNav {
/*	position: relative; */
	position: absolute;
	top: 87px;
	left: 20px;
/*	float: left; */
	width: 169px;
/*	height: 100%; */
	text-align: left;
	letter-spacing: .25px;
	word-spacing: 0px;
}
#leftNavTop {
	height: 6px;
	margin: 0 3px;
	overflow:hidden;
}
ul#menu {
	padding: 0;
	margin: 5px 0 0 0;
	list-style-type: none;
}
ul#menu ol {
	display: none;
	list-style-type: none;
	background-color: #efefef;
	margin: 6px 0px -3px -13px;
	padding: 6px 0px 1px 0px;
	border-top: 1px solid #cccccc;
}

ul#menu li {
/*	font: 12px/12px arial,sans-serif; */
	font: 0.8em arial,sans-serif;
	padding: 6px 0px 6px 13px;
	margin: 0;
	border-bottom: 1px solid #cccccc;
}
ul#menu li a {
	display:block;
}
ul#menu ol li a {
	display:inline;
}
ul#menu ol li {
/*	font:12px/18px arial,sans-serif; */
	font: 0.8em arial,sans-serif;
	padding: 0px 0px 5px 18px;
	margin: 0;
	border: 0;
}

ul#menu a:link, ul#menu a:visited {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
ul#menu a:hover {
	font-weight: bold;
	text-decoration: none;
}
ul#menu ol li a:link, ul#menu ol li a:visited {
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
ul#menu ol li a:hover {
	color: #333333;
	font-weight: normal;
	text-decoration: underline;
}

#bodyContent {
	text-align: left;
	margin-left: 169px; /* Space for the left menu */
	margin-right: 170px; /* Space for the right menu */
	height: auto;
	padding-top: 1px;
	padding-right: 19px;
	padding-bottom: 25px;
	padding-left: 19px;
/*	font: 11px sans-serif, arial; */
	font: 0.8em arial,sans-serif;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	}
#bodyContent h1 {
	margin: 10px 0px 15px 0px;
/*	font: 18px sans-serif,verdana, arial; */
	font: 1.5em verdana, arial,sans-serif;
	font-weight: bold;
}
#bodyContent h2 {
	color: #333333;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 4px 0px;
/*	font: 12px sans-serif, arial; */
	font: 0.9em arial,sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	}
#bodyContent ul.head {
	color: #999999;
/*	margin: 0px 0px 15px -40px; */
/**	margin: 0px 0px 15px 0px;  /* IE/Win */
}
#bodyContent a:link, #bodyContent a:visited {
	color: #666666;
	text-decoration: underline;
}
#bodyContent a:hover {
	text-decoration: underline;
}
#bodyContentTier2 {
	text-align: left;
	height: auto;
	margin-left: 169px; /* Space for the left menu */
	padding-top: 1px;
	padding-right: 19px;
	padding-bottom: 25px;
	padding-left: 19px;
	font: 0.8em arial,sans-serif;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	}
#bodyContentTier2 h1 {
	margin: 10px 0px 15px 0px;
/*	font: 18px sans-serif,verdana, arial; */
	font: 1.5em verdana, arial,sans-serif;
	font-weight: bold;
}
#bodyContentTier2 h2 {
	color: #333333;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 4px 0px;
/*	font: 12px sans-serif, arial; */
	font: 0.9em arial,sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	}
#bodyContentTier2 ul.head {
	color: #999999;
/*	margin: 0px 0px 15px -40px; */
/**	margin: 0px 0px 15px 0px;  /* IE/Win */
}
#bodyContentTier2 a:link, #bodyContentTier2 a:visited {
	color: #666666;
	text-decoration: underline;
}
#bodyContentTier2 a:hover {
	text-decoration: underline;
}
#bodyContentTier2 td {
/*	font: 11px sans-serif, arial; */
	font: 0.8em arial,sans-serif;
}

#rightNav {
	color: #333333;
	position: absolute;
	top: 87px;
	right: 24px;
	width: 160px;
	text-align: left;
}
#rightNavTop {
	background-color: #999999;
	width: 160px;
	height: 6px;
	margin: 0px 0px -4px 0px;
}
#rightNav a:link, #rightNav a:visited {
	color: #666666;
}
#rightNav h1 {
	background-color: #efefef;
/**	background: red; */
/*	font: 11px sans-serif, arial; */
	font: 0.8em arial,sans-serif;
	font-weight: 600;
	padding: 6px 0px 6px 7px;
/**	margin: 10px 10px 10px 10px;
*	border-top: 1px solid #999999;
*	border-right: 1px solid #999999;
*	border-bottom: 1px solid #999999;
*	border-left: 1px solid #999999;
*	size: 30px; */
}
#rightNav h2 {
/*	font: 11px sans-serif, arial; */
	font: 0.8em arial,sans-serif;
	font-weight: 600;
	padding: 0px 0px 0px 0px;
}
#rightNav p {
	color: #cccccc;
/*	font: 11px sans-serif, arial; */
	font: 0.8em arial,sans-serif;
	padding: 0px 0px 0px 0px;
}
#rightNav li {
	color: #999999;
/*	font: 11px sans-serif, arial; */
	font: 0.8em arial,sans-serif;
	list-style-type: none;
	margin: 5px 0px 15px -36px;
}
#rightNav b {
	color: #333333;
}

#searchBoxTop {
	width: 163px;
	height: 6px;
/*	line-height: 1px;  */  /* IE/Win */
	margin: 3px 3px 0px 3px;
/**	margin: 3px 3px 3px 3px; */  /* IE/Win */
}
#searchBox {
	background-color: #cccccc;
/*	font: 12px sans-serif, verdana, arial; */
/*	font: 0.9em sans-serif, verdana, arial; */
	font-weight: bold;
/**	line-height: 80px; */
/*	padding: 6px 6px 3px 6px;
*	padding: 1px 6px 1px 6px; */
	margin: 0px 3px 0px 3px;
}
#searchBoxInner {
	margin: 6px 6px 6px 6px;
}
#searchBox input {
	border-color: #999999;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	margin: 2px 1px 2px 1px;
}
#searchBoxBottom {
	border-top: 1px solid #cccccc;
	margin-top: 0px;
}

#footer {
/*	font: 12px sans-serif, verdana, arial; */
	font: 0.9em verdana,arial,sans-serif;
	text-align: center;
}

#clear {
	clear:both;
}
