<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>mono</title>

	<meta name="Robots" content="INDEX, FOLLOW">
	<meta http-equiv="Content-Language" content="en">
	<meta http-equiv="Content-Type" content="text/html; CHARSET=UTF-8">
	<meta name="keywords" content="mono">
	<meta name="description" content="mono">
	<meta name="author" content="Jonathan Duncan">
	<meta name="date" content="14-Apr-2004">
	<meta name="modified-by" content="Jonathan Duncan">
	<meta name="modified" content="23-Aug-2004">

	<style type="text/css" media="all"><!--  @import url(/inc/mono-main.css); --></style>
	<style type="text/css" media="all"><!--  @import url(/inc/mono-blue.css); --></style>  <!-- blue=About, green=Using, orange=Contributing -->

	<!-- **************************************** -->
	<!--  BEGIN SCRIPT HEADER HERE -->
	<!--#include virtual="/inc/script_header.inc"-->
	<!--  END SCRIPT HEADER HERE -->
	<!-- **************************************** -->

</head>
<body>

<div id="thePage"> <!-- Start The Page -->
	    <!-- **************************************** -->
	    <!--  BEGIN RIGHT CONTENT HERE -->
	    <!--#include virtual="/inc/header_blue.html"-->  <!-- blue=About, green=Using, orange=Contributing -->
	    <!--  END RIGHT CONTENT HERE -->
	    <!-- **************************************** -->
	<div id="pageBodyTier2"> <!-- Start Body -->
		<div id="leftNav"> <!-- Start Left Nav -->
				<div id="leftNavTop"></div>
					<!-- **************************************** -->
					<!--  BEGIN LEFT NAV MENU HERE -->
					<!--#include virtual="/inc/leftnav_blue.inc"-->
					<!--  END LEFT NAV MENU HERE -->
					<!-- **************************************** -->

					<!-- **************************************** -->
					<!--  BEGIN SEARCH BOX HERE -->
					<!--#include virtual="/inc/searchbox.inc"-->
					<!--  END SEARCH BOX HERE -->
					<!-- **************************************** -->
		</div> <!-- End Left Nav -->
		<div id="bodyContentTier2"> <!-- Start Body Content -->
			<h1>General Questions</h1>
			<ul class="head">
				<li><a href="#what">What is Mono?</a></li>
				<li><a href="#how">How Does Mono work?</a></li>
				<li><a href="#why">Why is Mono important?</a></li>
				<li><a href="#who">Who is working on Mono?</a></li>
			</ul>

			<a name="what"></a>
			<h2>What is Mono?</h2>
			<p>The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot.</p>
			<a name="how"></a>
			<h2>How Does Mono work?</h2>
			<p class="leadCopy">The answer to the question will go in <a href="">this spot</a>. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot.</p>
			<a name="why"></a>
			<h2>Why is Mono important?</h2>
			<p class="bodyCopy">The answer to the question will go in <a href="">this spot</a>. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot.</p>
			<a name="who"></a>
			<h2>Who is working on Mono?</h2>
			<p>The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot. The answer to the question will go in this spot.</p>

		</div> <!-- End Body Content -->
		<div class="clear"></div>
	</div> <!-- End Body -->

	<!-- **************************************** -->
	<!--  BEGIN FOOTER HERE -->
	<!--#include virtual="/inc/footer.inc"-->
	<!--  END FOOTER HERE -->
	<!-- **************************************** -->
</div> <!-- End The Page -->

</body>
</html>
