<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <configSections>
        <section name="Mono.AppServer" type="Mono.AppServer.AppServerSectionHandler,Mono.AppServer.Core"/> 
        <sectionGroup name="TerWoord">
          <section name="Logger.NET" type="TerWoord.Configuration.LoggerNETConfigSectionHandler, Logger.NET"/>
        </sectionGroup>
	</configSections>
    <TerWoord>
      <Logger.NET>
        <Category Name="Default">
          <Destinations>
            <Destination Type="TerWoord.Diagnostics.Destinations.FileDestination, Logger.NET"/>
          </Destinations>
        </Category>
      </Logger.NET>
    </TerWoord>
	<Mono.AppServer>
		<ApplicationTypes>
			<ApplicationType Name="WebApplication" Type="Mono.AppServer.WebApplication" Assembly="Mono.AppServer.WebApplication"/>
			<ApplicationType Name="RemotingApplication" Type="Mono.AppServer.RemotingApplication" Assembly="Mono.AppServer.RemotingApplication"/>
			<ApplicationType Name="FTPApplication" Type="Mono.AppServer.FTPApplication" Assembly="Mono.AppServer.FTPApplication"/>
			<ApplicationType Name="AdminApplication" Type="Mono.AppServer.AdminApplication" Assembly="Mono.AppServer.AdminApplication"/>
			<ApplicationType Name="CassiniApplication" Type="Cassini.WebApplication" Assembly="Cassini.WebApplication"/>
		</ApplicationTypes>
	</Mono.AppServer>
</configuration>