# list of strings separated by a space
sdelim   = "\n \t \  { } ( ) [ ] ; , . :"
edelim   = "\n \t \  { } ( ) [ ] ; , . :"

style    = "blocks"
keywords = "do else foreach for goto if switch while try catch finally"
color    = "#e06a00"
weight   = "600"

style    = "types"
keywords = "bool byte char class decimal double enum \
            float int long object sbyte short string struct \
            uint ulong ushort void"
color    = "yellow"
weight   = "700"

style    = "ref-out"
keywords = "ref out"
color    = "#a0a000"

style    = "true-false"
keywords = "true false"
color    = "#9090ff"
weight   = "0"


style    = "control-statements"
keywords = "break case continue default do else foreach for goto if in return switch while try catch finally"
color    = "#d02020"

style	 = "other-keywords"
keywords = "abstract as add assembly base checked const \
            delegate event explicit extern fixed implicit \
            interface internal is lock namespace new null \
            operator override params private protected public \
            readonly remove sealed sizeof stackalloc \
            static this throw typeof unchecked unsafe using \
	    virtual volatile in return"
color    = "cyan"

style    = "get-set"
keywords = "get set"
color    = "#e06a00"
weight   = "700"

style    = "string"
keywords = """
spanto   = """
color    = "orange"
weight   = "0"
sdelim   = ""
edelim   = ""
signore  = "\""

style    = "qstring"
keywords = "@""
spanto   = """
signore  = """"

style    = "char"
keywords = "'"
spanto   = "'"
signore  = "\'"

style    = "comment"
keywords = "//"
spanto   = "\n"
color    = "gray50"
weight   = "700"

style    = "multiline-comment"
keywords = "/*"
spanto   = "*/"

