<?xml version="1.0"?>
<config
Author="Mono Project (mono@novell.com)"
BlogDirectory="/cvs/website/newsitems"
BlogFileName="index.html"
BlogWebDirectory="http://www.mono-project.com/news/"
BlogImageBasedir="http://www.mono-project.com/news/"
Copyright="Mono Project at Novell"
Description="Mono Project News"
ManagingEditor="mono@novell.com"
Title="Mono Project News"
RSSFileName="index"
InputEncoding="latin1"
OutputEncoding="latin1"
EntrySpecific=""
/>
