<configuration>
	<configSections>
		<sectionGroup name="TerWoord">
			<section name="Logger.NET"
				 type="TerWoord.Configuration.LoggerNETConfigSectionHandler, Logger.NET"/>
		</sectionGroup>
	</configSections>
	<TerWoord>
		<Logger.NET>
			<Category Name="test">
				<Destinations>
					<Destination Type="TerWoord.Diagnostics.Destinations.ConsoleDestination, Logger.NET">
						<Settings>
							<Setting Name="IndentSize" Value="5"/>
						</Settings>
					</Destination>
				</Destinations>
			</Category>
		</Logger.NET>
	</TerWoord>
</configuration>